# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Frontend dependencies
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# Frontend misc
frontend/*.local
frontend/coverage/
frontend/package-lock.json